
.Login-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 20vh;
    /* border: 2px solid red; */
    width: 500px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #333333;
    background-image : linear-gradient(to bottom right, hsl(120, 100%, 25%), hsl(191, 100%, 25%) );
    flex-direction: column;
    gap:60px;
}
.Credentials-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.Login-text{
    font-size: 2em;
}
.username-input, .password-input{
    border:0;
    outline: 0;
    border-radius: 6px;
    background-color: #fafafa66;
    backdrop-filter: blur(6px);
    width: 100%;
    font: inherit;
    padding: 10px 25px;
    color: white;
}
::placeholder{
    color: white;
}
.Login-as-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
.student-login-Btn, .teacher-login-Btn{
    padding: 10px 20px;
    background-color: hsl(51, 100%, 50%);
    border-radius: 5px;
    cursor: pointer;
    font: inherit;
    border: 0;
    outline: 0;
    font-weight: 600;
    color: hsl(120, 100%, 25%);
    transition: background-color 0.3s, color 0.3s ;
}

button:hover{
    background-color:hsl(51, 100%, 69%) ;
    color: hsl(120, 100%, 5%);
}