
.Login-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    margin-top: 20vh;
    border: 2px solid red;
    min-width: (500px, 75vw);
    min-height: (200px, 50vh);
    border-radius: 15px;
    background-color : green;
    flex-direction: column;
    gap:20px;
}
.Credentials-div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: ;
}
.username-input, .password-input{
    border:0;
    outline: 0;
    border-radius: 6px;
    background-color: #eeeeee66;
    padding: 5px 15px;
}
::placeholder{
    color: white;
}
.Login-as-div{
    display: flex;
    justify-content: center;
    align-items: center;
}