:root{
  --BGCOLOR: hsl(168, 100%, 25%);
  --BGCOLOR-TRANS: hsla(168, 100%, 25%, 0.7);
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom: 2px solid gold;
    align-items: center;
    flex-direction: row;
    background: var(--BGCOLOR);
    color: white;
    width: 100%;
    height: 60px;
    z-index: 10000;
  }
  p{
    color: gold;
    padding: 10px;
    font-weight: 550;
  }
  .app-title{
    font-size: 2em;
    font-weight: 600;
    font-family: Verdana, Tahoma, sans-serif;
    margin-left: 30px;
  }
  .nav-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1em;
    font-weight: 550;
    gap: 2em;
    align-items: center;
    margin-right: 30px;
  }
  /* footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: green;
    text-align: center;
    color: gold;
    font: inherit;
    font-weight: 550;
    padding-block: 25px;
  } */

.side-nav{
    /* border: 2px 0px solid gold; */
    padding-top: 60px;
    width: 20%;
    height: 100%;
    background: var(--BGCOLOR-TRANS);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.side-nav-item{
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.side-nav-item:hover{
  background: gold;
  color: hsl(168, 100%, 25%) ;
}